{% extends 'myapp/base.html' %}
{% block title %}Change Password
{% endblock title %}

{% block body %}
<div class="container mt-4">
    <form action="\verify_details/" method="post">
    {% csrf_token %}
        <div class="mb-3">
            <label for="old_password" class="form-label">Old Password*:</label>
            <input type="password" class="form-control" id="old_password" placeholder="Enter your old password" name="old_password">
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password*:</label>
            <input type="password" class="form-control" id="new_password" placeholder="Enter new password" name="new_password">
        </div>
        <div class="mb-3">
            <label for="confirm_new_password" class="form-label">Confirm New Password*:</label>
            <input type="password" class="form-control" id="confirm_new_password" placeholder="Confirm new password" name="confirm_new_password">
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>
</div>
{% endblock body %}