{% extends "myapp/base.html" %}

{% block title %}Create Account{% endblock %}
{% block active2 %}active{% endblock %}

{% block body %}

<h3>{{title}}</h3>


<div class="container mx-10 mt-5">
    <form action="\create_account/" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="new_username" class="form-label">Username</label>
            <input type="text" class="form-control" name="create_username" id="new_username"
                   placeholder="Enter Your Username" required>
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter Your Password" name="create_password"
                   id="new_password">
        </div>

        <p>Already have an account? <a href="#myModal2" data-bs-target="#myModal2" data-bs-toggle="modal">Login</a></p>
        <button type="submit" class="btn btn-success">Create Account</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </form>
</div>


{% endblock %}