{% extends 'myapp/base.html' %}

{% block title %}Edit Note{% endblock %}

{% block body %}
<div class="container mx-10 mt-5">
    <form action="\confirm_edit/{{id}}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Note Title</label>
            <input type="text" class="form-control" name="title_of_note" id="exampleFormControlInput1" placeholder="Enter Your Title" value="{{NOTE_TITLE}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Note</label>
            <textarea class="form-control" name="note_of_note" id="exampleFormControlTextarea1" placeholder="Type Your Note Here"
                      rows="3">{{NOTE}}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Edit Note</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </form>
</div>

{% endblock %}

