<form action="{% if card_backslash %}\{% endif %}{{action|default:'view_locked_note/'}}{{id|default:i.id}}" method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label for="lock_pass{{forloop.counter}}" class="mb-2">Enter Password:</label>
        <input type="password" class="form-control" id="lock_pass{{forloop.counter}}" name="entered_password" placeholder="Enter Note Password" required>

        <div class="invalid-feedback">
            Please Enter Note Password.
        </div>

        {% for message in messages %}
            {% if message.level == 30 %}
                <script>
                     swal("Failed", "{{message}}", "error")
                </script>
            {% endif %}
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">{{btnText|default:"View This Note"}}</button>
    </div>
</form>

<!--
<form action="\view_locked_note/{{i.id}}" method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label for="lock_pass" class="mb-2">Enter Password:</label>
        <input type="password" class="form-control" id="lock_pass" name="entered_password" placeholder="Enter Note Password" required>

        <div class="invalid-feedback">
            Please Enter Note Password.
        </div>

        {% for message in messages %}
        {% if message.level == 30 %}
        <script>
           swal("Failed", "{{message}}", "error")
        </script>
        {% endif %}
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">View This Note</button>
    </div>
</form>
-->