{% extends 'myapp/base.html' %}

{% block title %}View Label{% endblock title %}

{% block activeLabel %}active{% endblock activeLabel %}

{% block backslash2 %}\{% endblock backslash2 %}

{% block body %}
<div class="container mt-5 d-flex justify-content-center" style="flex-wrap: wrap;">
    {% for title in loads %}
        {% for i in note %}
            {% if i.note_title == title %}
                {% include "myapp/card.html" with card_backslash=True %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}