{% extends 'myapp/base.html' %}

{% block title %}Note: {{i.note_title}}{% endblock title %}

{% block body %}


<div class="modal d-block position-relative" tabindex="1" style="z-index: inherit;">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{i.note_title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <pre>{{i.note}}</pre>
        </div>
        <div class="modal-footer">
            <a href="\delete/{{i.id}}" role="button" class="btn btn-lg btn-danger"><i class="fa fa-trash"></i></a>
            <a href="\edit/{{i.id}}" role="button" class="btn btn-lg btn-danger"><i class="fa fa-edit"></i></a>
            <button class="btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#unlockModal{{forloop.counter}}"><i class="fa fa-unlock"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="unlockModal{{forloop.counter}}" tabindex="-1" aria-labelledby="unlockModalLabel{{forloop.counter}}" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="unlockModalLabel{{forloop.counter}}">Unlock Note</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  {% include "myapp/enter_password_form.html" with action="unlock/" card_backslash="True" btnText="Unlock Note" %}
              </div>
          </div>
      </div>
  </div>

{% endblock body %}